<!doctype html>
<html>
<head>
	<title>Podcache</title>
	
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.6/angular.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.6/angular-resource.js"></script>
	<script src="podcache.js"></script>
	
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/open-iconic/1.1.1/font/css/open-iconic-bootstrap.min.css" />
	<link rel="stylesheet" href="podcache.css" />
</head>
<body data-ng-app="podcache" data-ng-controller="feedlist">
	<div class="container-fluid">
		<h1>Podcache</h1>
	
		<!-- List existing feeds. -->
		<div class="block">
			<h2>Managed Feeds</h2>
			<table class="table table-responsive table-bordered feed-table table-striped">
				<thead>
					<tr>
						<th style="max-width: 30px"></th>
						<th>Name</th>
						<th>URL</th>
						<th>Content Type</th>
						<th>Last Modified</th>
						<th>Files Downloaded</th>
					</tr>
				</thead>
				<tbody>
					<tr data-ng-repeat="feed in feeds | orderBy:'name'"
						data-ng-class="{ 'deleted': feed.markedForDeletion }">
						
						<td>
							<a data-ng-href="content/{{ feed.name }}" target="_blank" class="oi oi-rss-alt" title="Access Feed"></a>
							<a href="" data-ng-click="showEditForm(feed)" class="oi oi-pencil" title="Edit"></a>
						</td>
		
						<td>{{ feed.name }}</td>
						<td>{{ feed.url }}</td>
						<td>{{ feed.contentType }}</td>
						<td>{{ feed.lastModified | date:'short' }}</td>
						<td><span class="oi oi-check" data-ng-show="feed.allFilesUpdated"></span></td>
					</tr>
				</tbody>
				<tfoot>
					<tr class="footer">
						<td colspan="6">
							<a href="" data-ng-click="showAddForm()" class="oi oi-plus" title="Add"></a>
						</td>
					</tr>
				</tfoot>
			</table>
		</div>
		
		<!-- To add a new feed -->
		<div class="block vertical-grid" data-ng-if="addNew" data-ng-controller="newFeed">
			<h2>Add New Feed</h2>
	
			<form class="form-horizontal" data-ng-submit="addFeed()">
				<div class="form-group">
					<label class="control-label col-sm-2" for="name">Name:</label> 
					<div class="col-sm-10">
						<input class="form-control" title="Enter a unique name for the feed. Letters and numbers only." type="text" name="name" data-ng-model="name" pattern="[a-zA-Z0-9-_]+" required="required" placeholder="<enter name>" />
					</div>
				</div>
	
				<div class="form-group">
					<label class="control-label col-sm-2" for="url">URL:</label>
					<div class="col-sm-10">
						<input class="form-control" type="url" name="url" data-ng-model="url" required="required" placeholder="<enter url>" />
					</div>
				</div>
				
				<div class="col-sm-offset-2 col-sm-10">
					<input class="btn btn-default" data-ng-disabled="inProgress" type="submit" value="Add"/>
					
					<span class="oi oi-cog throbber" data-ng-show="inProgress"></span>
					<div class="alert alert-success inline-alert" data-ng-show="success && !failure">Success</div>
					<div class="alert alert-danger inline-alert" data-ng-show="errorMessage">Failed to add new feed: {{errorMessage}}</div>
				</div>
					
				
			</form>
		</div>
	
		<!-- Edit a feed -->
		<div class="block vertical-grid" id="editForm" data-ng-if="selectedFeed"
			data-ng-controller="editFeed">
			<h2>Edit Feed '{{ selectedFeed.name }}'</h2>
	
			<form class="form-horizontal" data-ng-submit="update()">
				<div class="form-group">
					<label class="control-label col-sm-2" for="url">URL:</label>
					<div class="col-sm-10">
						<input class="form-control" type="url" name="url" data-ng-model="url" required="required" />
					</div>
				</div>
				
				<div class="form-group">
					<label class="control-label col-sm-2" for="contentType">Content Type:</label>
					<div class="col-sm-10">
						<input class="form-control" type="text" name="contentType" data-ng-model="contentType" required="required" />
					</div>
				</div>
				
				<div class="form-group">
					<label class="control-label col-sm-2" for="contentType">Delete:</label>
					<div class="col-sm-10">
						<input class="checkbox" type="checkbox" name="markedForDeletion" data-ng-model="markedForDeletion" />
					</div>
				</div>
				
				<div class="col-sm-offset-2 col-sm-10">
					<input class="btn btn-default" data-ng-disabled="inProgress" type="submit" value="Update" />
					
					<span class="oi oi-cog throbber" data-ng-show="inProgress" title=""></span>
					<div class="alert alert-success inline-alert" data-ng-show="success && !failure">Success</div>
					<div class="alert alert-danger inline-alert" data-ng-show="errorMessage">Failed to edit feed: {{errorMessage}}</div>
				</div>
			</form>
		</div>
	</div>
</body>
</html>