/* Format captions */
h1 {
	color: #000063;
	background-color: #c8effc;
	margin-top: 0px;
	padding: 15px;
	border-radius: 0px 0px 0px 10px;
	font-weight: bold;
	margin-bottom: 15px;
	box-shadow: 2px 4px #dcf1f8;
}

h2 {
	color: #000063;
	margin-top: 0px;
	padding-left: 10px;
	border-bottom: solid 2px #c8effc;
	box-shadow: 2px 2px #dcf1f8;
}

/* Fix for vertical forms (Bootstrap) */
div.vertical-grid {
	display: grid;
}

/* Make the Bootstrap alerts inline */
.inline-alert {
	display: inline-block;
	padding-top: 5px;
	padding-bottom: 5px;
	margin-bottom: inherit;
	height: 34px;
	vertical-align: middle;
}

th {
	background-color: #c8effc;
	border: none !important;
}

th:first-child {
	border-top-left-radius: 10px;
}

table {
	border-radius: 20px;
	border: none !important;
}

/* Change the style of the striped tables. */
.table-striped > tbody > tr:nth-of-type(2n+1) {
	background-color: transparent;
}

.table-striped > tbody > tr:nth-of-type(2n) {
	background-color: #e9f9ff;
}

/* Format deleted feeds in table */
tr.deleted td:not(:first-child) {
	text-decoration: line-through;
	color: darkgrey;
}

/* Style table footer */
tfoot > tr.footer > td {
	border: none;
	background-color: #def6ff;
	border-radius: 0px 0px 0px 10px;
	box-shadow: 2px 3px #dcf1f8;
}

/* Recolor icon links */
a.oi {
	color: rgb(63, 63, 60);
	padding-left: 2px;
}

/* Throbber with animation (may not work in all browsers) */
.throbber {
	vertical-align: middle;
	-webkit-animation: rotation 6s infinite linear;
	font-size: 20px;
}

@-webkit-keyframes rotation {
	from {
		-webkit-transform: rotate(0deg);
	}
	to {
		-webkit-transform: rotate(359deg);
	}
}
